<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee-Edit</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body >

<!--Navigation bar-->

<nav>
    <ul  class="nav-bar">
        <li id="brand" >Go-Tech</li>
        <li><a th:href="@{/employee}" id="home">Home</a></li>
        <li><a th:href="@{/about}" id="about">About</a></li>
        <li><a th:href="@{/employee/addEmployee}" id="add" >Add Employee</a></li>
        <li><a id="signout" th:href="@{/logout}">Sign Out</a></li>
    </ul>

</nav>


<!--Navigation bar-->
<section class="container box">

    <form role="form" method="post" th:action="@{/employee/{employeeId}/edit(employeeId=${employee.id})}" th:object="${employee}" >
        <label for="name">Name : </label>
        <input
                aria-placeholder="Name"
                id="name"
                name="name"
                th:field="*{name}"
                type="text">
        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
        <br>
        <label for="email">Email : </label>
        <input type="email"
               name="email"
               id="email"
               th:field="*{email}"
               aria-placeholder="Email">
        <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
        <br>
        <label for="department">Department : </label>
        <input type="text"
               name="department"
               id="department"
               th:field="*{department}"
               aria-placeholder="Department">
        <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
        <br>
        <label for="mobno">Mobile No : </label>
        <input type="text"
               name="mobno"
               id="mobno"
               th:field="*{mobileNo}"
               aria-placeholder="Mobile NO ">
        <p th:if="${#fields.hasErrors('mobileNo')}" class="text-danger" th:errors="*{mobileNo}"></p>
        <br>
        <label for="photoUrl">PhotoUrl : </label>
        <input type="text"
               name="photoUrl"
               id="photoUrl"
               th:field="*{photoUrl}"
               aria-placeholder="PhotoUl">
        <br>
        <label for="joindate">Date : </label>
        <input type="date"
               name="joindate"
               id="joindate"
               th:field="*{joiningDate}"
               aria-placeholder="Joining Date">
        <br>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</section>

</body>
</html>