<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<!--Navigation bar-->

<nav>
    <ul  class="nav-bar">
        <li id="brand" >Go-Tech</li>
        <li><a th:href="@{/employeelist}" id="home">Home</a></li>
        <li><a th:href="@{/about}" id="about">About</a></li>
        <li><a th:href="@{/employee/new}" id="add" >Add Employee</a></li>
        <li><a id="signout" th:href="@{/logout}">Sign Out</a></li>
    </ul>

</nav>


<!--Navigation bar-->

<!--Body content-->


<section>
    <br><br><br><br>
    <br><br><br><br>
    <h1>Employees List </h1>
    <div class="container">
        <br>
        <table>
            <tr>
                <td>S.No</td>
                <td>Name</td>
                <td>Email</td>
                <td>Department</td>
                <td>Actions</td>
            </tr>
            <div th:each="employee : ${employee}" >
            <tr>
                <td class="td"><a th:text="${employee.id}" class="" href="#!">Project name</a></td>
                <td class="td"><a th:text="${employee.name}" class="" href="#!">Project name</a></td>
                <td class="td"><a th:text="${employee.email}" class="" href="#!">Project name</a></td>
                <td class="td"><a th:text="${employee.department}" class="" href="#!">Project name</a></td>
                <td>
                    <div class="flex">
                        <a class="btn" th:href="@{/employee/{employeeId}/details(employeeId=${employee.Id})}">View</a>
                        <a class="btn" th:href="@{/employee/{employeeId}/edit(employeeId=${employee.Id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/employee/{employeeId}/delete(employeeId=${employee.Id})}">Delete</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    </div>
</section>

<!--body content-->


</body>
</html>